
/* ----------------------------------------------------------------------- */
/* sign-in.handlebars */

#sign-inForm {
    width: 500px;
    height: 400px;
    position: relative;
    margin-left:auto;
    margin-right: auto; 
    padding-top: 50px;
}

/* ----------------------------------------------------------------------- */
/*  index.handlebars */

.indexBody {
    background-color: black;
}


#weather{
    border: yellow solid 2px;
    height: 300px;
    width: 500px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}



#graph {
    width: 50%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;

}

#circles {
    width: 33%;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
}


.nav-link {
    color: white;
    font-size: 30px;
    padding: 30px 50px 30px 50px;
}


/* .navlink:hover{color:#FABC00;}; */
/* 
.form-control {
    margin-top: 35px;
    margin-left: 50px;
    margin-bottom: 100px;  
} */

button.btn {
    color: black;
    background-color: white !important;
}

#inputLocation {
    text-align: center;
    font-size: 30px;
    padding:  5px 5px 5px 5px;
}
/* ----------------------------------------------------------------------- */
/* sign-up.handlebars */
#sign-up {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;

}
/* ----------------------------------------------------------------------- */
/* logo.handlebars */
.yellow {
        background-color: #FABC00;
}

#logo {
    height: 500px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#logoImage {
    width: 80%;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: none;
}

#logoImage:active {
  background-color: #FABC00;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* removes outline around image */
#logoImage:focus {outline: none !important;};

/* ----------------------------------------------------------------------- */
