<body class="indexBody">

    <ul class="nav mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" id="pills-home-tab">
            <a class="nav-link" href="/contact">Contact</a>
        </li>
        <li class="nav-item" id="pills-home-tab">
            <a class="nav-link" href="/sign-in">Sign In</a>
        </li>
        <li class="nav-item" id="pills-home-tab">
            <a class="nav-link" href="/sign-up">Sign Up</a>
        </li>
        <div class="nav-item" id="pills-home-tab">
            {{!--
            <label for="inputZip">zip</label> --}} {{!-- //location btn --}} {{!--
            <div>
                <input type="text" class="form-control" id="inputZip" placeholder="Location">
                <button id="submit" type="button" data-toggle="collapse" data-target="#weatherDiv">
                    Submit
                </button> --}}
                <form id="custom-search-form" class="form-search form-horizontal pull-right">
                    <div class="input-append span12">
                        <input id="inputZip" type="text" class="search-query" placeholder="Search by city">
                        <button type="button" class="btn" id="submit" data-toggle="collapse" data-target="#weatherDiv">
                            <i class="fas fa-thumbtack"></i>
                        </button>
                    </div>
                </form>
            </div>


    </ul>

    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"></div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"></div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab"></div>
    </div>

    <div id="weather" class="col-lg-12"> Temperature:
        <br>
    </div>


    <div id="graph" class="col-lg-12">
        <div id="container">
            <canvas id="myChart"></canvas>
        </div>
    </div>

    <div id="circles" class="col-lg-12">
    </div>

    <script src="/js/graphs.js"></script>

</body>